# Created by .ignore support plugin (hsz.mobi)
initialData
image
graphicsImage
experimentalData
out/artifacts/Raskritie_krilev_gazodinamika_jar/Raskritie_krilev_gazodinamika.jar
src/main/java/initialDataForTask/InitialData.java
.idea